<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibext.owlet"
    android:versionCode="15"
    android:versionName="1.0.9" >

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="com.sibext.owlet.OwletApplication"
        android:allowBackup="true"
        android:icon="@drawable/sovenok_logo"
        android:installLocation="preferExternal"
        android:label="@string/sovenok_title"
        android:logo="@drawable/sovenok_logo"
        android:theme="@style/SovenokTheme" >

        <meta-data
            android:name="recipient_address"
            android:value="android@sibext.com" />

        <provider
            android:name="com.sibext.owlet.database.DatabaseProvider"
            android:authorities="org.netcook.sovenok.provider"
            android:exported="false" />

        <activity
            android:name="com.sibext.owlet.activity.MainActivity"
            android:theme="@style/SovenokTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sibext.owlet.activity.ScreenOfTaskActivity"
            android:theme="@style/SovenokTheme" >
        </activity>
        <activity
            android:name="com.sibext.owlet.activity.StatisticsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SovenokTheme" >
        </activity>
        <activity
            android:name="com.sibext.owlet.activity.AboutActivity"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.sibext.owlet.activity.SettingsActivity"
            android:theme="@style/SovenokTheme" >
        </activity>
    </application>

</manifest>